# Build Artifacts & PlatformIO / ESP-IDF
.pio/
build/
sdkconfig
*.bin
*.elf
*.map

# KiCad Backups & Lock-Dateien
*.kicad_prl
*-save.kicad_pcb
*-save.kicad_sch
_autosave-*
_restore_backup_*
*.bak
*.lck
~*
*.kicad_sch-bak
*.kicad_pcb-bak
*drc_report.json
*erc_report.json
*drc.rpt
*erc.rpt
*drc.json

# OS & Editor
.DS_Store
.vscode/
.idea/
.history/

# Python Virtual Environments & PyCache
__pycache__/
*.pyc
*.pyo

# Local Simulation
sim/
sim

