# Build Artifacts & PlatformIO / ESP-IDF
.pio/
build/
sdkconfig
*.bin
*.elf
*.map

# KiCad Backups & Lock-Dateien
*.kicad_prl
*-save.kicad_pcb
*-save.kicad_sch
_autosave-*
*.bak
*.lck
~*
*.kicad_sch-bak
*.kicad_pcb-bak

# OS & Editor
.DS_Store
.vscode/
.idea/
.history/

# Python Virtual Environments & PyCache
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo

